[submodule "third_party/gtest"]
	path = third_party/gtest
	url = git://github.com/google/googletest.git
[submodule "third_party/ate-pairing"]
	path = third_party/ate-pairing
	url = git://github.com/herumi/ate-pairing.git
[submodule "third_party/xbyak"]
	path = third_party/xbyak
	url = git://github.com/herumi/xbyak.git
[submodule "third_party/libsnark-supercop"]
	path = third_party/libsnark-supercop
	url = git://github.com/mbbarbosa/libsnark-supercop.git
[submodule "third_party/libff"]
	path = third_party/libff
	url = git://github.com/scipr-lab/libff.git
[submodule "third_party/libfqfft"]
	path = third_party/libfqfft
	url = git://github.com/scipr-lab/libfqfft.git
